
{% extends "blog/base.html"%}
{% load crispy_forms_tags %} 
{% block content%}
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{form | crispy}}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Login</button>
                    </div>
                </form>
                    <div class="border-top pt-3">

                            <br> <a href=" {% url "register" %}">                        <small class="text-muted">Signup Here</small></a>
                       
                    </div>
            </div>
{%endblock content%}
        